<h1>Admin Account</h1>
<h2>Application <%= @application.id %></h2>

<%= render partial: "shared/application_details" %>
<%= render partial: "pets_view", locals: {path: "/admin/applications/#{@application.id}" } %>