<%= render "applications/basic_info" %>
<h3>Pets:</h3>
<div class="application_pets"> <% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>"><h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% if pet.not_reviewed?(@application.id) %>
    <%= button_to "Approve", "/admi/applications/#{@application.id}", method: :patch %>
    <%end%></h3></div>
  <%end%></div>
