<%= render partial: "applications/app_attrs", locals: { application: @application } %>

<section id="approval">
  <h2>Approve Pets</h2>
  <% @application.pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
      <p><%= pet.name %></p>
      <%= button_to "Approve #{pet.name}", "/admin/applications", method: :patch, params: { app_id: "@application.id", pet_id: pet.id } %>
    </section>
  <% end %>
</section>
