<h1>Name: <%= @application.name %></h1>
<h3>Address: <%= "#{@application.street}, #{@application.city}, #{@application.state}, #{@application.zip}" %></h3>
<h3>Status: <%= @application.status %></h3>
<% if @application.submitted? %>
  <h3>Description: <%= @application.description %></h3>
<%end%>
