<% if @application.pets.count >= 1 %>
  <section id="description-section">
  <p>Why would you be a good home?</p><br/>
  <%= form_tag path, method: :patch do %>
    <%= label_tag :description, "Description:" %>
    <%= text_field_tag :description %>
    <%= submit_tag "Submit Application" %>
  <% end %>
  </section>
<% end %>