<h1>Applications</h1>
<% @applications.each do |application| %>
  <section id="application-<%=application.id%>">
  <h2>Name:<%=link_to application.name, "/applications/#{application.id}"%></h2>
<% end %>
