<h1>Name: <%= @application.name %></h1>
<h3>Address: <%= "#{@application.street}, #{@application.city}, #{@application.state}, #{@application.zip}" %></h3>
<h3>Description:</h3>
<p> <%= @application.description %></p>
<h3>Pets:</h3>
<p>List of Pet names (with links) goes here</p>
<h3>Status: <%= @application.status %></h3>
