<% @shelters.each do |shelter| %>
  <section id="shelter-<%= shelter.id %>">
    <%= link_to "#{shelter.name}", show_shelter_path(shelter.id), method: :get %>
  </section>
<% end %>

<% @applications.each do |app| %>
  <section id="application-<%=app.id %>">
    <h3><%= link_to "Application #{app.id}", application_path(app.id), method: :get %></h3>
  </section>
<% end %>
