<section id="admin-applicant-<%= @applicant.id %>">
  <h1><%= @applicant.name %></h1>
  <p><strong>Pets:</strong></p>
  <p><% @applicant.pets.each do |pet| %></p>
    <p>Pet: <%= pet.name %>
    <% if !PetApplicant.pet_applicant_approved?(pet.id, @applicant.id)  %>
      <%= button_to "Approve", "/admin/applicants/#{@applicant.id}?pet_id=#{pet.id}&is_pet_approved=true" %></p>
    <% end %>
  <% end %>
</section>
