<h1>Shelters</h1>
<h3>Shelters With Pending Applications</h3>
<ul>
<% @pending_shelters.each do |shelter| %>
  <li class = <%= "shelter-#{shelter.id}" %>><%= shelter.name %></li>
<% end %>
</ul>
<h3>All Shelters</h3>
<ul>
<% @shelters.each do |shelter| %>
  <li class = <%= "shelter-#{shelter.id}" %>><%= shelter.name %></li>
<% end %>
</ul>
