/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom Bootstrap variables must be set or imported before bootstrap.
 // @import "bootstrap";

 .App-list, tr, th, td {
  border: 1px solid black;
  text-align: left;
  padding: 0px;
}
th {
  font-weight: 900;
}
.navbar {
list-style-type: none;
color:black;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #618685;
}
.navbar li {
  float: left;
}
li {
font-size: 1.0em;
word-spacing: 0px;
padding: 5px;
}

li a {
display: block;
color: black;
padding: 2px;
}

.home {
  color: black;
  float: none;
  word-spacing: 0px;
  width: 150px;
}

li a:hover {
background-color: red;
}

body {
  background-color: #618685;
}
//
// body {
//   background-color: #fbf5cd;
//    color: #065e09;
//    font-family: Arial;
//    font-size: 1.0em;
//    line-height: 1.0em;
//    margin: 0em;
//    text-align: left;
// }
//
// .pet_stats, th, td {
//   border: 1px solid black;
//   text-align: left;
//   padding: 0px;
// }
// th {
//   font-weight: 900;
// }
//
// header {
//   padding: 10px;
//   background-color: lightblue;
//   color: white;
//   font-family: Arial;
//   line-height: 2em;
//   text-align: center;
// }
//
// .header-link {
//   background-color: #fbf5cd;
//   font-size: 20px;
//   color: black;
// }
//
// .nav-bar {
//   font-family: Arial;
//   background-color: lightblue;
//   color: black;
//   text-align: left;
//   font-size: 25px;
//   padding: 0px;
//
// }
//
// * {
//   box-sizing: border-box;
// }
//
// .row {
//   display: flex;
// }
